
<!-- 
  {{ expression }} 

  expression: 
    <number> 2+2
    <string> "Bruno".toLowerCase()
    <logical> a === b
  
  we have access to component properties
-->
<!-- property binding --
  in <img>, we bind a class property to the 'src' attribute
  by surrounding 'src' with []: [src].
  During the change detection phase, template is scanned 
  and all [xxx] are processed before rendering the template.
  The value of the attribute is treated as an expression.
      <img [src]="imgURL">
  imgURL is treated as an expression, 
  and the result is assigned to the src attribute.
  The component class and templates are tight together!
 -->
<!-- <img [src]="imgURL"> -->
<app-post [img]="imgURL" (imgSelected)="logImg($event)">
  <p>Some caption</p>
</app-post>

<!-- Event Binding -->
<input (keyup)="changeImage($event)" [value]="imgURL">

<p>Hello {{ name.toLocaleUpperCase() }} !</p>
<p>Hello {{ "my name is "+getName() }} !</p>
<p>Hello {{ "my name age is "+(54+3) }} !</p>